.header {
    display: flex;
}

img {
    width: 200px;
    height: 75px;
}
.header-bar {
    display: flex;
    justify-content: space-evenly;
}
.header-logo {
    display: flex;
    align-items: center;
    margin-left: 32px
}

.links {
    display: flex;
    gap: 8px;
    justify-content: space-evenly;
}

.section {
    display: flex;
}

ul {
    list-style-type: none;
}
